/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* colors */
.legend .performed { background-color: grey; }
.legend .personal { background-color: blue; }
.legend .corporate { background-color: green; }
.legend .school { background-color: purple; }
.legend .unpersonal { background-color: skyblue; }
.legend .uncorporate { background-color: lightgreen; }
.legend .unschool { background-color: plum; }
.legend .bookoff { background-color: black; }